<div class="main-app">
  <div class="col">
    <app-sidebar></app-sidebar>
  </div>
  <main class="middle">
    <div class="container">
      <div>
        <ul class="list">
          <li class="list-item">
            <a routerLink="/course/1/documents/1" routerLinkActive="active">
              <p>Document 1</p>
            </a>
          </li>
          <li class="list-item">
            <a routerLink="/course/1/documents/2" routerLinkActive="active">
              <p>Document 2</p>
            </a>
          </li>
          <li class="list-item">
            <a routerLink="/course/1/documents/3" routerLinkActive="active">
              <p>Document 3</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </main>
  <div class="col">
    <app-sidebar-right></app-sidebar-right>
  </div>
</div>
