.header{
    display: flex;
}
.header img{
width: 32px;
padding: 10px;
}
a{ 
  display: flex;
}
a:hover{
  background-color: #fff;
  cursor:pointer
}
section{
    border: 2px solid black;
    padding: 1rem;
    margin: 1.5rem 0;
}
.content-head{
  text-align: center;
}
.content-body{
    justify-content: center;
}
  
  .mat-line,.mat-list-icon{
color: black;
  }
  .videos{
    display: flex;
  }
  .list{
    margin-bottom: 1rem;
  }

  .inputs input{
      display: block;
  }
  .alert{
      padding: 0.5rem;
      width: fit-content;
      color: rgb(131, 59, 33);
  }