<div class="main-app">
  <div class="col">
    <app-sidebar></app-sidebar>
  </div>
  <main class="middle">
    <div class="container">
      <form>
        <div class="header">
          <input
            type="text"
            id="title"
            [(ngModel)]="currentCourse.title"
            name="title"
          />
        </div>
        <div class="body">
          <section>
            <h2>Course description</h2>
            <textarea
              name="description"
              [(ngModel)]="currentCourse.description"
              id="description"
              cols="30"
              rows="10"
            ></textarea>
          </section>
          <section>
            <div class="content">
              <div class="content-head">
                <h2>Course content</h2>
              </div>
              <div class="content-body">
                <div *ngIf="submitted" class="alert">
                  <h4>{{ message }}</h4>
                </div>
                <h2>Videos</h2>
                <div>
                  <mat-list class="list">
                    <div *ngFor="let material of currentCourse.materials">
                      <mat-list-item class="list-item" *ngIf="material.isVideo">
                        <a>
                          <mat-icon *ngIf="material.isVideo" mat-list-icon
                            >movie</mat-icon
                          >

                          <div>
                            <h3>{{ material.name }}</h3>
                            <div mat-line>{{ material.description }}</div>
                          </div>
                        </a>
                        <button
                          class="btn"
                          (click)="deleteMaterial(material.id)"
                        >
                          delete
                        </button>
                      </mat-list-item>
                    </div>
                  </mat-list>
                  <form *ngIf="enabledVidInput">
                    <div class="inputs">
                      <input
                        type="text"
                        [(ngModel)]="video.name"
                        placeholder="enter video title"
                        id="vidName"
                        name="vidName"
                      />
                      <textarea
                        [(ngModel)]="video.description"
                        placeholder="enter video description"
                        id="vidTitle"
                        name="vidTitle"
                      ></textarea>

                      <input
                        type="text"
                        [(ngModel)]="video.link"
                        placeholder="enter youtube video link"
                        id="vidLink"
                        name="vidLink"
                      />
                    </div>
                    <button class="btn" (click)="saveVideo()">Submit</button>
                  </form>
                  <button class="btn" (click)="toggleVidInput()">
                    Add Video
                  </button>
                </div>
                <h2>Documents</h2>
                <div class="documents">
                  <mat-list class="list">
                    <div *ngFor="let material of currentCourse.materials">
                      <mat-list-item
                        class="list-item"
                        *ngIf="!material.isVideo"
                      >
                        <a href="{{ material.link }}" target="_blank">
                          <mat-icon mat-list-icon>description</mat-icon>
                          <div>
                            <h3>{{ material.name }}</h3>
                            <div mat-line>{{ material.description }}</div>
                          </div>
                        </a>
                        <button
                          class="btn"
                          (click)="deleteMaterial(material.id)"
                        >
                          delete
                        </button>
                      </mat-list-item>
                    </div>
                  </mat-list>
                  <form *ngIf="enabledDocInput" (ngSubmit)="saveDocument()">
                    <div class="inputs">
                      <input
                        type="text"
                        [(ngModel)]="document.name"
                        placeholder="enter document title"
                        id="docName"
                        name="docName"
                        required
                      />
                      <textarea
                        [(ngModel)]="document.description"
                        placeholder="enter document description"
                        id="docTitle"
                        name="docTitle"
                        required
                      ></textarea>

                      <input
                        type="text"
                        [(ngModel)]="document.link"
                        placeholder="enter document link"
                        id="docLink"
                        name="docLink"
                        required
                      />
                    </div>

                    <input class="btn" type="submit" value="Submit" />
                  </form>
                  <button class="btn" (click)="toggleDocInput()">
                    Add Document
                  </button>
                </div>
              </div>
            </div>
          </section>
        </div>
        <button class="btn" (click)="updateCourse()" type="submit">
          Submit
        </button>
      </form>
    </div>
  </main>
  <div class="col">
    <app-sidebar-right></app-sidebar-right>
  </div>
</div>
