/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #f15025;
  --second: #ffffff;
  --third: #e6e8e6;
  --fourth: #f0f3f0;
  --fifth: #191919;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
}
.gray-text {
  font-weight: 500;
  color: gray;
}
