<div class="group">
  <head>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
  </head>
  <div class="group-header">
    <div class="group-img">
      <i class="material-icons">group</i>
    </div>
    <div>
      <h3><a href="#">Group's name</a></h3>
    </div>
  </div>
  <div class="group-body">
    <div class="names-text">
      <p>
        Nom Prenom <a href="#"><i class="material-icons">message</i></a>
      </p>
    </div>
    <div class="names-text">
      <p>
        Nom Prenom <a href="#"><i class="material-icons">message</i></a>
      </p>
    </div>
    <div class="names-text">
      <p>
        Nom Prenom <a href="#"><i class="material-icons">message</i></a>
      </p>
    </div>
    <div class="names-text">
      <p>
        Nom Prenom <a href="#"><i class="material-icons">message</i></a>
      </p>
    </div>
    <div class="names-text">
      <p>
        Nom Prenom <a href="#"><i class="material-icons">message</i></a>
      </p>
    </div>
    <div class="names-text">
      <p>
        Nom Prenom <a href="#"><i class="material-icons">message</i></a>
      </p>
    </div>
    <div class="names-text">
      <p>
        Nom Prenom <a href="#"><i class="material-icons">message</i></a>
      </p>
    </div>
    <div class="names-text">
      <p>
        Nom Prenom <a href="#"><i class="material-icons">message</i></a>
      </p>
    </div>
    <div class="names-text">
      <p>
        Nom Prenom <a href="#"><i class="material-icons">message</i></a>
      </p>
    </div>
    <div class="names-text">
      <p>
        Nom Prenom <a href="#"><i class="material-icons">message</i></a>
      </p>
    </div>
    <div class="names-text">
      <p>
        Nom Prenom <a href="#"><i class="material-icons">message</i></a>
      </p>
    </div>
    <div class="names-text">
      <p>
        Nom Prenom <a href="#"><i class="material-icons">message</i></a>
      </p>
    </div>
    <div class="names-text">
      <p>
        Nom Prenom <a href="#"><i class="material-icons">message</i></a>
      </p>
    </div>
    <div class="names-text">
      <p>
        Nom Prenom <a href="#"><i class="material-icons">message</i></a>
      </p>
    </div>
    <div class="names-text">
      <p>
        Nom Prenom <a href="#"><i class="material-icons">message</i></a>
      </p>
    </div>
  </div>
  <div class="group-footer">
    <a href="#">View Group</a>
  </div>
</div>
