<div class="course">
  <div class="course-header">
    <div class="course-img">
      <img src="../../../assets/images/pc.png" alt="course image" />
    </div>
    <div>
      <h3>{{ course.title }}</h3>
    </div>
    <div class="menu">
      <button
        mat-icon-button
        style="background-color: transparent; border: none; cursor: pointer"
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="/courses/{{ course.id }}">
          <span>Edit</span>
        </a>
        <button mat-menu-item>
          <span>Unpublish</span>
        </button>
      </mat-menu>
    </div>
  </div>

  <div class="course-body">
    <div>
      <h3>Levels</h3>
      <hr />
      <p class="gray-text" *ngFor="let level of courseLevels">{{ level }}</p>
    </div>
    <p class="gray-text">{{ course.hours_per_week }} Hours/Week</p>
  </div>
  <div class="course-footer">
    <a href="/courses/{{ course.id }}">View course</a>
  </div>
</div>
