<main>
  <div class="top">
    <div class="element search">
      <input
        id="search"
        name="search"
        type="text"
        class="search-input"
        placeholder="Search"
      />
    </div>
    <div class="element notification">
      <button>
        <img src="../../../assets/images/icons/notification.png" alt="" />
      </button>
    </div>
    <div class="element profil">
      <button class="btn-profil">
        <img src="../../../assets/images/icons/profil.png" alt="picture" />
        <p>{{ username }}</p>
      </button>
    </div>
  </div>
  <section class="calendar-section">
    <app-calendar></app-calendar>
  </section>
  <section class="upcoming">
    <div class="upcoming-head">
      <h2>Upcoming</h2>
      <select name="days" id="days">
        <option value="Today">Today</option>
        <option value="Tomorrow">Tomorrow</option>
      </select>
    </div>
  </section>
</main>
