<main>
  <div class="top">
    <div class="element search">
      <input
        id="search"
        name="search"
        type="text"
        class="search-input"
        placeholder="Search"
      />
    </div>
    <div class="element notification">
      <button>
        <img src="../../../assets/images/icons/notification.png" alt="" />
      </button>
    </div>
    <div class="dropdown">
      <button (click)="toggleProfilDropdown()">
        <img src="../../../assets/images/icons/profil.png" alt="" />
        {{ username }}test
      </button>
      <div [ngClass]="profil_dropdown_open ? 'dropdown-content' : 'hidden'">
        <a href="/courses">My courses</a>
        <a href="/profile">Profile</a>
        <a href (click)="logout()">Log out</a>
      </div>
    </div>
  </div>
  <section class="calendar-section">
    <app-calendar></app-calendar>
  </section>
  <section class="upcoming">
    <div class="upcoming-head">
      <h2>Upcoming</h2>
      <select name="days" id="days">
        <option value="Today">Today</option>
        <option value="Tomorrow">Tomorrow</option>
      </select>
    </div>
  </section>
</main>
