main {
  background-color: rgb(236, 234, 234);
  padding: 1rem;
}
.top {
  display: flex;
}
.top .element {
  padding: 10px;
}
.top img {
  width: 20px;
}
.demo-inline-calendar-card {
  width: 300px;
}
.upcoming {
  margin-top: 20px;
}
.upcoming-head {
  display: flex;
  justify-content: space-between;
}
