<div class="main-app">
  <div class="col">
    <app-sidebar></app-sidebar>
  </div>

  <main class="middle">
    <app-group-card></app-group-card>

    <!--<mdb-carousel [animation]="'slide'">

      <mdb-carousel-item>
        <app-group-card></app-group-card>
      </mdb-carousel-item>

      <mdb-carousel-item>
        <app-group-card></app-group-card>
      </mdb-carousel-item>

      <mdb-carousel-item>
        <app-group-card></app-group-card>
      </mdb-carousel-item>

    </mdb-carousel>-->

  </main>

  <div class="col">
    <app-sidebar-right></app-sidebar-right>
  </div>
</div>
