<div class="main-app">
  <div class="col">
    <app-sidebar></app-sidebar>
  </div>
  <main class="middle">
    <div class="container">
      <div class="header">
        <h1>{{ currentCourse.title }}</h1>
        <a class="btn" href="/courses/{{ currentCourse.id }}/edit"
          >Edit this course</a
        >
      </div>
      <div class="body">
        <section>
          <h2>Course description</h2>
          <div>
            {{ currentCourse.description }}
          </div>
        </section>
        <section>
          <div class="content">
            <div class="content-head">
              <h2>Course content</h2>
            </div>
            <div class="content-body">
              <h2>Videos</h2>
              <div class="videos">
                <div class="left">
                  <mat-list class="list">
                    <mat-list-item
                      class="list-item"
                      *ngFor="let material of currentCourse.materials"
                    >
                      <a
                        *ngIf="material.isVideo"
                        (click)="openVideo(material.id)"
                      >
                        <mat-icon *ngIf="material.isVideo" mat-list-icon
                          >movie</mat-icon
                        >

                        <div>
                          <h3>{{ material.name }}</h3>
                          <div mat-line>{{ material.description }}</div>
                        </div>
                      </a>
                    </mat-list-item>
                  </mat-list>
                </div>
                <div class="right">
                  <iframe
                    width="550"
                    height="400"
                    [src]="'openedVideo.link' | safe"
                  >
                  </iframe>
                </div>
              </div>
              <h2>Documents</h2>
              <div class="documents">
                <mat-list class="list">
                  <mat-list-item
                    class="list-item"
                    *ngFor="let material of currentCourse.materials"
                  >
                    <a
                      href="{{ material.link }}"
                      target="_blank"
                      *ngIf="!material.isVideo"
                    >
                      <mat-icon mat-list-icon>description</mat-icon>
                      <div>
                        <h3>{{ material.name }}</h3>
                        <div mat-line>{{ material.description }}</div>
                      </div>
                    </a>
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </main>
  <div class="col">
    <app-sidebar-right></app-sidebar-right>
  </div>
</div>
