.container {
  background: #cccccc;
  width: 100%;
  height: 100%;
  position: relative;
}
a:hover {
  color: var(--primary);
}
.form-head {
  text-align: center;
}
.name {
  display: flex;
  position: relative;
  justify-content: space-between;
}
.register {
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
}
.register form {
  display: block;
  padding: 1rem 0;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"] {
  width: 100%;
  background-color: var(--primary);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form-footer {
  text-align: center;
}
