main {
  background-color: rgb(236, 234, 234);
}
.brand {
  font-size: x-large;
  padding: 20px;
}
.brand a {
  color: black;
}
.list {
  list-style-type: none;
}
.list-item {
  padding: 15px;
}
.list-item a {
  font-weight: bold;
  color: black;
}
.logout {
  padding: 20px;
}
.logout a {
  color: black;
  font-weight: bold;
}
