<html>
  <main>
    <div
      class="row"
    >
    <div class="brand">
      <a
        href="/dashboard"
      >
        <span class="brand-text">ManageMe</span>
      </a>
    </div>
      
      <hr />
      <ul class="list">
        <li class="list-item">
          <a
            routerLink="/dashboard"
            class="nav-link link-dark"
            routerLinkActive="active"
          >
            Dashboard
          </a>
        </li>
        <li class="list-item">
          <a
            routerLink="/courses"
            class="nav-link link-dark"
            routerLinkActive="active"
          >
            Courses
          </a>
        </li>

        <li class="list-item">
          <a
            routerLink="/calendar"
            class="nav-link link-dark"
            routerLinkActive="active"
          >
            Calender
          </a>
        </li>
        <li class="list-item">
          <a
            routerLink="/grades"
          >
            Grades
          </a>
        </li>
        <li class="list-item">
          <a
            routerLink="/messages"

          >
            Messages
          </a>
        </li>
        <li class="list-item">
          <a
            routerLink="/settings"
            class="nav-link link-dark"
            routerLinkActive="active"
          >
            Settings
          </a>
        </li>
      </ul>
      <hr />
      <div class="logout">
        <a href="/logout">Log out</a>
      </div>
      
    </div>
  </main>
</html>
