<main>
  <div class="row">
    <div class="brand">
      <a href="/dashboard">
        <span class="brand-text"
          >Manage<span style="color: var(--primary)">Me</span></span
        >
      </a>
    </div>
    <ul class="list">
      <li class="list-item">
        <a routerLink="/dashboard" routerLinkActive="active">
          <img
            class="list-icon"
            src="../../../assets/images/icons/dashboard.png"
            alt="dashboard icon"
          />
          <p>Dashboard</p>
        </a>
      </li>
      <li class="list-item">
        <a routerLink="/class" routerLinkActive="active">
          <img
            class="list-icon"
            src="../../../assets/images/icons/class.png"
            alt="class icon"
          />
          <p>Courses</p>
        </a>
      </li>

      <li class="list-item">
        <a routerLink="/schedule" routerLinkActive="active">
          <img
            class="list-icon"
            src="../../../assets/images/icons/calendar.png"
            alt="schedule icon"
          />
          <p>Schedule</p>
        </a>
      </li>
      <li class="list-item">
        <a routerLink="/groups" routerLinkActive="active">
          <img
            class="list-icon"
            src="../../../assets/images/icons/people.png"
            alt="Groups icon"
          />
          <p>Groups</p>
        </a>
      </li>
      <li class="list-item">
        <a routerLink="/grades" routerLinkActive="active">
          <img
            class="list-icon"
            src="../../../assets/images/icons/grades.png"
            alt="grades icon"
          />
          <p>Grades</p>
        </a>
      </li>
      <li class="list-item">
        <a routerLink="/messages" routerLinkActive="active">
          <img
            class="list-icon"
            src="../../../assets/images/icons/email.png"
            alt="messages icon"
          />
          <p>Messages</p>
        </a>
      </li>
      <li class="list-item">
        <a routerLink="/settings" routerLinkActive="active">
          <img
            class="list-icon"
            src="../../../assets/images/icons/setting.png"
            alt="settings icon"
          />
          <p>Settings</p>
        </a>
      </li>
    </ul>
    <div class="logout">
      <a href="/logout">Log out</a>
    </div>
  </div>
</main>
