<div class="class">
    <a href="">
        <div class="class-header">
            <div class="class-img">                    
                <img src="../../../assets/pc.png" alt="class image">
            </div>
            <div>
                <h3>Class title</h3>
                <p>Instructeur 1</p>
            </div>
            
            
    
        </div>
        <div class="class-body">
            <p>Niveau</p>
            <p>Nombre de credit</p>
            <p>Nombre de participants</p>
            <p>Nombre des heure/semaine</p>
        </div>
        <div class="class-footer">
            <a href="#">View class</a>
    
        </div>
    </a>
    
</div>