h1,
h2,
h3 {
  font-weight: bold;
}

header p {
  color: gray;
}
section {
  margin: 2rem 0;
}
.sem-grade {
  display: flex;
  justify-content: space-between;
  background-color: var(--second);
  padding: 1.5rem;
}
.sem-grade .graph {
  background-color: var(--fourth);
}
.sem-grade .graph img {
  max-width: 30rem;
}
.sem-grade .summary {
  background-color: var(--fourth);
}
.sem-grade .summary .summary-top {
  display: flex;
}
.classes {
  display: flex;
  justify-content: space-around;
}
.classes-head {
  display: flex;
  justify-content: space-between;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 9px;
}
