<div>
    <header>
        <h1>Hi, User</h1>
        <p>Welcome back, nice to see you again!</p>
    </header>
    <section>
        <h2>Semester's Grade</h2>  
    </section>
    <section>
        <div class="classes-head">
            <h2>My Classes</h2> 
            
                <a href="">See all ></a>
            

        </div>
        <div class="classes">
            <div class="class">
                Class 1
            </div>
            <div class="class">
                Class 2
            </div> 
        </div>
        
    </section>
    <section>
        <h2>Today Tasks</h2> 
        <div>
            <ul>
                <a href="">
                    <li class="task">
                        <div class="task-name">Task 1</div>
                        <div class="task-course">Course 1</div>
                        <div class="task-date">Date</div>
                        <div class="done">done</div>
                    </li>
                </a>
                <a href="">
                    <li class="task">
                        <div class="task-name">Task 1</div>
                        <div class="task-course">Course 1</div>
                        <div class="task-date">Date</div>
                        <div class="done">done</div>
                    </li>
                </a>
                <a href="">
                    <li class="task">
                        <div class="task-name">Task 1</div>
                        <div class="task-course">Course 1</div>
                        <div class="task-date">Date</div>
                        <div class="done">done</div>
                    </li>
                </a>
                
            </ul>
        </div> 
    </section>
</div>