.classes {
  display: flex;
  justify-content: space-around;
}
.classes-head {
  display: flex;
  justify-content: space-between;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 9px;
}
