<div class="main-app">
  <div class="col">
    <app-sidebar></app-sidebar>
  </div>
  <main class="middle">
    <header>
      <h1>Hi, {{ username }} 👋</h1>
      <p>Welcome back, nice to see you again!</p>
    </header>
    <section class="sem-grade">
      <div class="graph">
        <h2>Semester's Grade</h2>
        <app-graph></app-graph>
      </div>
      <div class="summary">
        <div class="summary-top">
          <h3>Summary</h3>
          <div class="menu">
            <button
              mat-icon-button
              style="
                background-color: transparent;
                border: none;
                cursor: pointer;
              "
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <div class="summary-body">
          <div class="summary-item">
            <img src="../../../assets/images/icons/etoile.png" alt="" />
            <div class="col">
              <p>3.20</p>
              <p class="gray-text">GPA</p>
            </div>
          </div>
          <div class="summary-item">
            <img src="../../../assets/images/icons/etoile.png" alt="" />
            <div class="col">
              <p>490</p>
              <p class="gray-text">Total Grade</p>
            </div>
          </div>
          <div class="summary-item">
            <img src="../../../assets/images/icons/etoile.png" alt="" />
            <div class="col">
              <p>137</p>
              <p class="gray-text">Total Credit</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="classes">
      <div class="classes-head">
        <h2>My Classes</h2>
        <a href="/courses">See all ></a>
      </div>
      <div class="classes-body">
        <app-course-card></app-course-card>
        <app-course-card></app-course-card>
      </div>
    </section>
    <section class="tasks">
      <div class="tasks-head">
        <h2>Today Tasks</h2>
        <div class="results gray-text">3 results</div>
      </div>
      <div>
        <div>
          <div class="task">
            <div class="task-name">Task 1</div>
            <div class="task-course gray-text">Course 1</div>
            <div class="task-date gray-text">Date</div>
            <div class="done">done</div>
            <div class="menu">
              <button
                mat-icon-button
                style="
                  background-color: transparent;
                  border: none;
                  cursor: pointer;
                "
                [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>dialpad</mat-icon>
                  <span>Redial</span>
                </button>
                <button mat-menu-item disabled>
                  <mat-icon>voicemail</mat-icon>
                  <span>Check voice mail</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>notifications_off</mat-icon>
                  <span>Disable alerts</span>
                </button>
              </mat-menu>
            </div>
          </div>
          <div class="task">
            <div class="task-name">Task 1</div>
            <div class="task-course gray-text">Course 1</div>
            <div class="task-date gray-text">Date</div>
            <div class="done">done</div>

            <div class="menu">
              <button
                mat-icon-button
                style="
                  background-color: transparent;
                  border: none;
                  cursor: pointer;
                "
                [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>dialpad</mat-icon>
                  <span>Redial</span>
                </button>
                <button mat-menu-item disabled>
                  <mat-icon>voicemail</mat-icon>
                  <span>Check voice mail</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>notifications_off</mat-icon>
                  <span>Disable alerts</span>
                </button>
              </mat-menu>
            </div>
          </div>
          <div class="task">
            <div class="task-name">Task 1</div>
            <div class="task-course gray-text">Course 1</div>
            <div class="task-date gray-text">Date</div>
            <div class="done">done</div>

            <div class="menu">
              <button
                mat-icon-button
                style="
                  background-color: transparent;
                  border: none;
                  cursor: pointer;
                "
                [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>dialpad</mat-icon>
                  <span>Redial</span>
                </button>
                <button mat-menu-item disabled>
                  <mat-icon>voicemail</mat-icon>
                  <span>Check voice mail</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>notifications_off</mat-icon>
                  <span>Disable alerts</span>
                </button>
              </mat-menu>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <div class="col">
    <app-sidebar-right></app-sidebar-right>
  </div>
</div>
